/* #617A55
#A4D0A4
#F7E1AE
#FFF8D6 */

* {
    margin: 0;
    padding: 0;
    cursor: url("images/lure.png"), auto !important;
}
body {
    background-color: #F7E1AE;
    font-family: Georgia;
}


nav ul { /* code for the List that makes up nav bar*/
    list-style-type: none; /*gets rid of bullet points*/
    overflow: hidden; /*keeps nav content inside container*/
}

#navlogo {
/* change */
  display: block; /*displays element with block properties*/
  float: left; /*positions to the right of container*/
  width: 40%; 
}

#navlogo img {
    width: 20rem;
}

nav a { /*all code for the anchors in nav bar*/
    float: right; /*postions the nav anchors to the left of container*/
    display: block; /*displays element with block properties*/
    color: #FFF8D6;
    /* background-color: #617A55; */
    border-radius: 10rem;
    text-align: center; /*centers text*/
    padding: .5rem;
    text-decoration: none; /*removes text decoration (bullet points)*/
}

nav a:hover { /*impacts the properties when hovering over an anchor in nav*/
    background-color: #A4D0A4;
}

.navimg img {
    width: 8rem;
}

footer {
    background-color: #816951;
    text-align: center;
}

.footercontainer {
    display: flex;
    justify-content: center;
}

.footercontainer img {
    margin-right: 4rem;
}

.footeritem {
    display: flex;
}

footer img {
    width:7rem;
    text-align: center;
}

.footerlinks {
    text-decoration: none;
    color: #05240f;
    border-radius: .2rem;
    margin: 1rem;
}



.footerlist {
    list-style-type: none;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.listitem {
    margin-top: .75rem;
    margin-bottom: 1rem;
}

.social-icons {
    text-align: center;
    text-decoration: none;
  }
  
.social-icons img { /*code for social media images*/
    width: 4vw;
    height: auto;
    margin: .75rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    border-radius: 1rem;

}

.social-icons h3 {
    color: #05240f;
    margin-top: .75rem;
    margin-bottom: 0;
}

.cart {
    float: right; /*postions the nav anchors to the left of container*/
    display: block; /*displays element with block properties*/
    border-radius: 10rem;
    text-align: center; /*centers text*/
    padding: .5rem;
    text-decoration: none; /*removes text decoration (bullet points)*/
}

.cart img {
    width: 4rem;
}




/* below is the code for HOME page */

.heroimg {
    display: flex;
    flex-direction: column;
    background-image: url(images/wood.png);
    height: 70vh;
    width: 100vw;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    align-items: center;
    justify-content: center;
}

.herotext { /*All code for text that goes on top of hero image*/
    position: absolute; /*makes position fixed to where I put it*/
    max-width: 60vw;
    height: auto;
    /* top: 30%; positions it 30% the size of the page from the top */
    right: 20%; /*positions it a third of the page from the right size*/
    color: darkgreen;
    text-align: center;
    background-color: #A4D0A4;
    border-radius: 10px; /*rounds the borders edges*/
    border-style: solid; /*Makes border solid line*/
    opacity: 80%;
}


.bestseller {
    color:darkgreen;
    text-align: center;
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

/* Hide the images by default */
.mySlides {
    display: none;
  }

.mySlides img {
    width: 40rem;
    height: auto;
    border-radius: 2rem;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #617A55;
    background-color: rgba(0,0,0,0.1);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 15rem;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }


  /* below is code for PRODUCTS page */

.product-header {
    text-align: center;
    margin-bottom: 1rem;
}

#products-container {
    padding: 0 10px 30px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit ,minmax(290px,1fr));
    grid-row-gap: 20px;
}

#products-container div {
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 7px;
    box-shadow: 0 0 10px black;
    transition: .2s ease-in-out;
    width:290px;
    height: 37rem;
    background-color: white;
    text-align: center;
}

#products-container div img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

#products-container2 {
    padding: 0 10px 30px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit ,minmax(290px,1fr));
    grid-row-gap: 20px;
}

#products-container2 div {
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 7px;
    box-shadow: 0 0 10px black;
    transition: .2s ease-in-out;
    width:290px;
    height: 37rem;
    background-color: white;
    text-align: center;
}

#products-container2 div img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

#products-container3 {
    padding: 0 10px 30px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit ,minmax(290px,1fr));
    grid-row-gap: 20px;
}

#products-container3 div {
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 7px;
    box-shadow: 0 0 10px black;
    transition: .2s ease-in-out;
    width:290px;
    height: 24rem;
    background-color: white;
    text-align: center;
}

#products-container3 div img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.catchescontainer {
    padding: 0 10px 30px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit ,minmax(250px,1fr));
    margin-top: 2rem;
}

.catchesitem {
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 8px black;
    transition: .2s ease-in-out;
    width: 47vw;
    height: auto;
    background-color: lightgoldenrodyellow;
    text-align: center;
    color: #05240f;
    font-size: 1.3rem;
    justify-content: center;
}

.catchesitem img{
    text-align: center;
    position: relative;
    width: auto;
    height:auto;
    max-height: 300px;
}


.catchesitem p {
    margin-top: 1rem;
}

.spotscontainer {
    padding: 0 10px 30px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit ,minmax(250px,1fr));
    margin-top: 2rem;
}

.spotsitem {
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 8px black;
    transition: .2s ease-in-out;
    width: 47vw;
    height: auto;
    background-color: lightgoldenrodyellow;
    text-align: center;
    color: #05240f;
    font-size: 1.5rem;
}

.spotsitem p {
    margin-top: 1.2rem;
}

.spotmap{
    position: relative;
    border-radius: 15px 15px 0 0;
}
.contactcontainer{
    width:50vw;
    margin-left: 25%;
    margin-bottom: 1rem;
}
.contactheading{
    text-align: center;
}

input[type=text], input[type=number], textarea {
    width: 95%; /*sets form to take up whole page*/
    padding: .625rem; /*sets padding around the text in each submission box*/
    border: .063rem solid #ccc; 
    border-radius: .25rem; 
    margin-top: .375rem; 
    margin-bottom: 1rem; 
    resize: vertical /*Allows for resizing of text area vertically*/
  }
  
  input[type=submit] { /*styling code for submit button*/
    background-color: #222831;
    color: white;
    padding: .75rem 1.25rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer; /*changes cursor to pointer when interacting*/
  }
  
  input[type=submit]:hover {
    background-color: #2D4059; /*changes the color of submit button when hovered over*/
  }

@media (max-width:700px) {
/* Allstyling for nav,footer,home */
    #navlogo {
        width: 100vw;
    }
    .navimg img{
        width: 20vw;
    }
    .cart img{
        width: 10vw;
    }
    .mySlides img{
        width: 60vw;
    }
    .herotext{
        width: 95vw;
        font-size: .75rem;
    }
    .footerlogo{
        display: none;
    }
    .footercontainer img{
        width: 2rem;
    }
/* Allstyling for products */
    #products-container {
        grid-template-columns: repeat(auto-fit,minmax(95vw,1fr));
    }
    #products-container div{
        width:95vw;
        height: auto;
        font-size: 14px;
    }
    #products-container2 {
        grid-template-columns: repeat(auto-fit,minmax(95vw,1fr));
    }
    #products-container2 div{
        width:95vw;
        height: auto;
        font-size: 14px;
    }
    #products-container3 {
        grid-template-columns: repeat(auto-fit,minmax(95vw,1fr));
    }
    #products-container3 div{
        width:95vw;
        height: auto;
        font-size: 14px;
    }
/* Allstyling for community */
    .catchescontainer{
        grid-template-columns: repeat(auto-fit,minmax(95vw,1fr));
        grid-row-gap: 10px;
    }
    .catchesitem{
        width: 95vw;
    }
    .spotscontainer{
        grid-template-columns: repeat(auto-fit,minmax(95vw,1fr));
        grid-row-gap: 10px;
    }
    .spotsitem{
        width: 95vw;
        height: auto;
    }
    .contactcontainer{
        width:90vw;
        margin-left: 5%;
    }
  }
@media (min-width:701px) {
/* Allstyling for nav,footer,home */
    .navimg img{
        width: 6rem;
    }
/* Allstyling for products*/
    #products-container {
        grid-template-columns: repeat(auto-fit,minmax(45vw,1fr));
    }
    #products-container div{
        width:47vw;
        font-size: 14px;
    }
    #products-container2 {
        grid-template-columns: repeat(auto-fit,minmax(45vw,1fr));
    }
    #products-container2 div{
        width:47vw;
        font-size: 14px;
    }
    #products-container3 {
        grid-template-columns: repeat(auto-fit,minmax(45vw,1fr));
    }
    #products-container3 div{
        width:47vw;
        height: auto;
        font-size: 14px;
    }
/* Allstyling for products*/
    .spotsitem{
        font-size: 1.3rem;
    }
    .contactcontainer{
        width: 90vw;
        margin-left: 5%;
    }
  }
@media (min-width:1024px) {
/* Allstyling for nav,footer,home */
    .mySlides img{
        width: 40vw;
    }
/* Allstyling for products */
    #products-container {
        grid-template-columns: repeat(auto-fit,minmax(22vw,1fr));
    }
    #products-container div{
        width: 22vw;
        height: 33rem;
    }
    #products-container2 {
        grid-template-columns: repeat(auto-fit,minmax(22vw,1fr));
    }
    #products-container2 div{
        width: 22vw;
        height: 33rem;
    }
    #products-container3 {
        grid-template-columns: repeat(auto-fit,minmax(22vw,1fr));
    }
    #products-container3 div{
        width: 22vw;
        height: auto;
    }

    .contactcontainer{
        width: 60vw;
        margin-left: 20%;
    }
  }
@media (max-width:1224px) {
    
  }